<ion-header>
  <ion-toolbar>
    <ion-title>¿Qué quieres hacer?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <ion-card class="custom-card" routerLink="/calculadora-notas">
      <ion-card-header>
        <ion-card-title>Calcular Nota Necesaria</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="custom-card" (click)="navegarCalculadoraPromedio()">
      <ion-card-header>
        <ion-card-title>Calcular Promedio</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
   <!-- Versión en la esquina inferior izquierda -->
   <div class="version-label">
    v2.0
  </div>
</ion-content>
